<% content_for :mag_content do %>
<div class="mag-form">
    <% form_tag do %>
      <p>
        <label for="name">Пропуск:</label>
        <%= text_field_tag :tabnum %>
      </p>
    <% end %>
</div>
<% end %>