<% content_for :js_controller do %>
,'Placeunload.LinksCleaning'
<% end -%>

<% content_for :title do %>
Объединение адресов покупателей по адресу геоадресу
<%	end -%>

<% content_for :content do %>
	<div id="placeunload_links_cleaning_js">
	</div>
<% end -%>
