<% content_for :js do %>
<script src="//api-maps.yandex.ru/2.0?mode=debug&load=package.full,graphics.Path,graphics.generator.stroke,geoObject.OverlayFactory,overlay.Base,geometry.pixel.LineString&lang=ru-RU" type="text/javascript"></script>
<% end %>
<% content_for :js_controller do %>
,'Placeunload.LinksCleaning'
<% end -%>

<% content_for :title do %>
Объединение адресов
<%	end -%>

<% content_for :content do %>
	<div id="placeunload_links_cleaning_js">
	</div>
<% end -%>
