<% content_for :title do %>
Комментарии к недовезенным заказам
<% end %>

<% content_for :js_controller do %>
, 'DelordDelMisc'
<% end %>

<% content_for :content do %>
	<div id="delord_del_misc_js">
	</div>
<% end -%>