<% content_for :title do %>
График дежурств
<% end %>

<% content_for :js_controller do %>
, 'EmpDutyroster'
<% end %>

<% content_for :content do %>
	<div id="emp_dutyroster_js">
	</div>
<% end -%>