<% content_for :js_controller do %>
,'ContentEditor' 
<% end -%>
﻿<% content_for :title do %>
Редактирование контента на страницах
<%	end -%>
<% content_for :content do %>
	<div id="content_editor_js">
	</div>
<%	end -%>
