<% content_for :js_controller do %>
,'Certificate' 
<% end -%>
﻿<% content_for :title do %>
Сертификаты
<%	end -%>
<% content_for :content do %>
	<br/>
	<div>Ознакомьтесь с нашими <a href="/unact_info/user">акциями</a>!</div>
	<br/>
	<div>
		<font size="3">Для получения информации о сертификатах на товары надо ввести:<br></font>
		<ul><li><font size="3"> 1. ИНН Вашей организации</font></li><li><font size="3">2. номер накладной или артикул товара</font></li></ul>
	</div>
	<br/>
	<div id="certificate_js">
	</div>
	
	<input type="hidden" id="inn" name="inn" value="<%= @inn %>"></input>
	<input type="hidden" id="ndoc" name="ndoc" value="<%= @ndoc %>"></input>
	<input type="hidden" id="goods_code" name="goods_code" value="<%= @goods_code %>"></input>
<%	end -%>
