<% content_for :js_controller do %>
,'Certificate' 
<% end -%>
﻿<% content_for :title do %>
Сертификаты
<%	end -%>
<% content_for :content do %>
	<br/>
	<div>Ознакомьтесь с нашими <a href="/unact_info/user">акциями</a>!</div>
	<br/>
	<div id="certificate_js">
	</div>
	
	<input type="hidden" id="inn" name="inn" value="<%= @inn %>"></input>
	<input type="hidden" id="ndoc" name="ndoc" value="<%= @ndoc %>"></input>
	<input type="hidden" id="goods_code" name="goods_code" value="<%= @goods_code %>"></input>
<%	end -%>
