<% content_for :js_controller do %>
,'SubdealerRemains'
<% end -%>
<% content_for :title do %>
Остатки на счетах компаний в ОСМП
<%	end -%>
<% content_for :content do %>
	<div id="subdealer_remains_js">
	</div>
<% end -%>
