.horizontal
, .horizontal ul
{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.horizontal:after
, .horizontal ul:after
{
    content: '';
    display: block;
    clear: left;
}
.horizontal li
{
    float: left;
    margin: 0 0 0.5em 0;
    padding: 0;
}

.tabbed a
{
	padding: 7px;
	font-weight: bold;
	text-decoration: none;
	color: gray;
    cursor: pointer;
}
.tabbed a:hover
{
    background-color: transparent;
	text-decoration: underline;
}