<% content_for :js_controller do %>
,'Letter'
<% end -%>
<% content_for :title do %>
Учет арендных конвертов Мегапорт
<%	end -%>
<% content_for :content do %>
	<div id="letter_js">
	</div>
<% end -%>
