<% content_for :js_controller do %>
,'DealerReport'
<% end -%>
<% content_for :title do %>
Настройки рассылки отчётов агентам СПП
<%	end -%>
<% content_for :content do %>
	<div id="dealer_report_js">
	</div>
<% end -%>
<% render :file => 'layouts/application' %>
