<% content_for :js_controller do %>
,'TerminalKey'
<% end -%>
<% content_for :title do %>
Движение ключей от терминалов
<%	end -%>
<% content_for :content do %>
	<div id="terminal_key_js">
	</div>
<% end -%>
