<% content_for :title do %>
Заявка на изменение графика
<%	end -%>

<% content_for :js_controller do %>
, 'ScheduleRequest'
<% end %>

<% content_for :js do %>
	<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
<% end %>

<% content_for :content do %>
	<div id="schedule_request_js">
	</div>
<% end -%>
