<% content_for :js_controller do %>
, 'sellPriceUsers'
<% end %>

<% content_for :js do %>

	<%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
<% end %>

<% content_for :title do %>
Права на подразделения для желтых ценников
<%	end -%>

<% content_for :content do %>
	<div id="sell_price_users_js">
	</div>
<% end -%>