<% content_for :stylesheets do %>

	.x-action-col-cell img {
		height: 16px;
		width: 16px;
		cursor: pointer;
	}
	.x-action-col-cell img.del-col {
		background-image: url(/ext/examples/shared/icons/fam/delete.gif);
	}
	.x-action-col-cell img.add-col {
		background-image: url(/ext/examples/shared/icons/fam/add.gif);
	}

<% end -%>

<% content_for :js_controller do %>
,'ppsZone'
<% end -%>

<% content_for :js do %>
<script src="http://api-maps.yandex.ru/1.1/index.xml?key=ADh8UkwBAAAA-f5qPAIAXlBgstzuwer3VtCIdJ9TLbfB6WoAAAAAAAAAAADcdhGtjFd6a6RPHi8luz3UxLa8JA==" type="text/javascript"></script>
<% end -%>

<% content_for :title do %>
Зоны терминалов
<%	end -%>

<% content_for :content do %>
	<div id="pps_zone_js">
	</div>
<% end -%>

<% render :file => 'layouts/application' %>
