<% content_for :title do %>
Причина невыполнения заявки на инкассацию 
<% end %>

<% content_for :js_controller do %>
, 'IncrequestReason'
<% end %>

<% content_for :content do %>
	<div id="increquest_reason_js">
	</div>
<% end -%>