<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<style type="text/css">
		body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
	</style>
</head>

<body>
<% content_for :title do %>
У нас проблемы
<%	end -%>
<% content_for :content do %>
  <div style="width: 25em;
			padding: 0 4em;
			margin: 4em auto 0 auto;
			border: 1px solid #ccc;
			border-right-color: #999;
			border-bottom-color: #999;">
    <h1 style="font-size: 100%; color: #f00; line-height: 1.5em;">У вас нет прав на доступ к <%= @error_text %></h1>
	Войдите в систему или проверьте права доступа.
	<img width="100%" src="/images/403.jpg" />
  </div>
<% end -%>
<% render :file => 'layouts/application' %>
</body>
</html>
