	<% content_for :title do %>
		Управление запасами
	<% end -%>

	<% content_for :content do %>
		<%= link_to 'Нажми меня для расчета прогноза и подожди...', :action => 'do_plan' %>
	<% end -%>
	<% render :file => 'layouts/application' %>