<% content_for :stylesheets_links do %>
	<link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/main.css">
<% end %>
<% content_for :title do %>
Заявки на изменение графика
<% end %>

<% content_for :content do %>
	<% if @act==nil -%>
		<h1>Ошибочная ссылкаindex!</h1>
	<% end -%>
	<% if @act=="accept" -%>
		<h1>Подтверждение заявки</h1>
		<p><%= h(@message)%> </p>
	<% end -%>

	<% if @act=="declined"-%>
		<h1>Заявка отклонена</h1>
	<% end -%>
	<% if @act=="decline" -%>
		<h1>Отклонение заявки</h1>
		<% if @message -%>
			<p><%= h(@message)%> </p>
		<% else -%>

			<% form_tag ('/schedule_request_act/decline')do %>
				<nobr>
				<p>
					<label for="decline_reason">Причина отклонения заявки:</label>
				</p>
				<p>
					<%=text_area_tag :decline_reason, @decline_reason, :rows => 8, :cols => 45%> 
				</p>
				<%= submit_tag "Отклонить"%>
			<% end %> 

		<% end -%>
	<% end -%>
<% end %>