<% content_for :title do %>
Статус поиска инкассаций
<%	end -%>

<% content_for :js_controller do %>
, 'IncSearchStatus'
<% end %>

<% content_for :content do %>
	<div id="inc_search_status_js">
	</div>
<% end -%>
