
<% content_for :title do %>
Вход в систему
<% end %>

<% content_for :content do %>
	<div id="main">
		<div class="poll-form">
			<fieldset>
				<legend>Вход (имя и пароль как при входе в компьютер)</legend>
				
				<% form_tag do %>
					<p>
					<label for="name">Имя:</label>
					<%= text_field_tag :name, params[:name] %>
					</p>

					<p>
					<label for="password">Пароль:</label>
					<%= password_field_tag :password, params[:password] %>
					</p>
					
					<p>
					<%= submit_tag " Войти " %>
					</p>
					<p>
					<a class="thumbnail" href="https://accounts.google.com/o/oauth2/auth?scope=https://www.googleapis.com/auth/userinfo.email+https://www.googleapis.com/auth/userinfo.profile&response_type=code&client_id=1043543321098-pp8ltrn0oqnrattumr2ukmc57svpp555.apps.googleusercontent.com&redirect_uri=https://system.unact.ru/oauth/handler/auth/google/renew">
						Войти через Google+
					</a>
					</p>
				<% end %>
			</fieldset>
		</div>
	</div>
<% end %>