<% content_for :js_controller do %>
,'Comp' 
<% end -%>
<% content_for :stylesheets do %>
	.x-action-col-cell img.del-col {
		background-image: url(/ext/examples/shared/icons/fam/cross.gif);
	}
	.x-action-col-cell img.empty-col {
		background-image: url(/images/empty-16.png);
	}

<% end -%>
﻿<% content_for :title do %>
Учет комплектующих
<%	end -%>
<% content_for :content do %>
	<div id="comp_js">
	</div>
<%	end -%>
