<% content_for :js_controller do %>
,'movementDiff'
<% end -%>
<% content_for :title do %>
Расхождения межплощадочных перемещений
<%	end -%>
<% content_for :content do %>
	<div id="movement_diff_js">
	</div>
<% end -%>
