<% content_for :stylesheets do %>
	.x-action-col-cell img {
		height: 16px;
		width: 16px;
		cursor: pointer;
		white-space: normal;
	}
	.x-column-header-text{
		white-space: normal;
	}
<% end -%>
<% content_for :js_controller do %>
,'JointPartner'
<% end -%>
<% content_for :title do %>
Единый партнёр
<%	end -%>
<% content_for :content do %>
	<div id="joint_partner_js">
	</div>
<% end -%>
<% render :file => 'layouts/application' %>
