<% content_for :js_controller do %>
,'JointPartner'
<% end -%>
<% content_for :title do %>
Единый партнёр
<%	end -%>
<% content_for :content do %>
	<div id="joint_partner_js">
	</div>
<% end -%>
<% render :file => 'layouts/application' %>
