<ul>
    <% @bnames.each do |r|%>
      <li  id="<%= r["id"] %>" title="<%= escape_once(r["loadto"]) %>"><%= r["name"] %> <span class="informal"><%= escape_once(r["loadto"]) %></span></li>  
    <% end %>
</ul>