<head>
<title>Маршрутный лист</title>
</head>
<body>
	<table border="1" cellpadding="5"  style="border-collapse: collapse; border: 1px solid black; font-size: 10px;">
		<tr class="title">
		<td align="center">№ п/п</td> 
		<td align="center">Номер терминала</td> 
		<td align="center">ID терминала</td> 
		<td align="center">Адрес терминала</td>
		<td align="center">Служебная информация</td>
		<td align="center">Пломба (уст.)</td>
		<td align="center">Пломба (к снятию)</td>
		</tr>
	
		<tr>
			<td align="center">№ п/п</td> 
		<td align="center">Номер терминала</td> 
		<td align="center">ID терминала</td> 
		<td align="center">Адрес терминала</td>
		<td align="center">Служебная информация</td>
		<td align="center">Пломба (уст.)</td>
		<td align="center">Пломба (к снятию)</td>
	
		</tr>

	</table>
</body>