<% content_for :title do %>
Информационные материалы
<% end %>

<% content_for :content do %>
	<% if !@actions.nil? %>
		<% @actions.each do |action| %>
			<a target="blank" href="<%= "/unact_info/pdf/#{action["path"]}" %>">
				<%= action["name"] %>
			</a>
			<br/>
		<% end %>
	<% else %>
		Информация отсутствует
	<% end %>
<% end %>

<% render :file => 'layouts/application' %>
